*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #faecd2;
  text-align: center;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px #311717;
  border-style: solid none;
  border-radius: 15px;
  margin-bottom: 0.25em;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    border: 2px solid #311717;
    background-color: #ffcd71;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    top: 0;
    z-index: 1;
    position: relative;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0.35em;
}

footer{
  border: 2px solid #311717;
  background-color: #ffcd71;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 0;
  margin-top: 5em;
}

a{
    text-decoration: none;
    color: rgb(143, 51, 23);
    font-weight: bold;
    margin: 0.25em;
}

a:hover{
  color: rgb(255, 252, 220);
}

.intro {
  margin-top: 4em;
}

.randombox{
  margin: 3em;
}

#random-btn{
  all:unset;
  border: 2px solid #fad082;
  background-color: #ffa600;
  border-radius: 32px;
  padding: 1em;
  font-weight: bold;
  color: rgb(236, 236, 215);
}

#random-btn:hover{
  background-color: #f19100;
  color: rgb(236, 236, 215);
}

.place-card{
  margin-top: 3em;
  margin-bottom: 12em;
}

.place-card .place-description{
  padding-top: 2em;
  padding-bottom: 2em;
  margin: -3em 35%;
  border: 2px solid #311717;
  background-color: #ffcd71;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 32px;
}

.city-hero{
  margin-top: -2em;
  position: relative;
  z-index: 0;
  font-family: Georgia;
}

.city-info p{
  margin: 0;
}

#info-btn{
  all:unset;
  border: 2px solid #fad082;
  background-color: #ffa600;
  border-radius: 32px;
  padding: 0.1em 1em;
  font-weight: bold;
  color: rgb(236, 236, 215);
}

#info-btn:hover{
  background-color: #f19100;
  color: rgb(236, 236, 215);
}

.activities ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.activities ul li::before {
  content: " ➤";      
  color: #FFA600;
  margin-right: 0.5em;
}

.activities ul li::after {
  content: " ➤";      
  color: #FFA600;
  margin-left: 0.5em;
  display: inline-block;
  transform: scaleX(-1);
}